<!DOCTYPE html>
<html>
<head>
  <title>MobileBb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script type = "text/javascript">
	window.addEventListener("load", function() {
		setTimeout(function () {
	  		window.scrollTo(0, 1);
			}, 1000);
	});
	
	window.fbAsyncInit = function() {
    FB.init({appId: '430430590318322', channelUrl: 'http://www.young-window-8606.herokuapp.com', status: true, xfbml: true});
  };

  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
  </script>
</head>
<body>
<div id = "fb-root"></div>
<%= yield %>

<%= yield :javascript %>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</body>
</html>
