<!DOCTYPE html>
<html>
<head>
  <title>MobileBb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script type = "text/javascript">
	window.addEventListener("load", function() {
		setTimeout(function () {
	  		window.scrollTo(0, 1);
			}, 1000);
	});
  </script>
</head>
<body>

<%= yield %>

<%= yield :javascript %>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</body>
</html>
